.semaforo-luz {
  cursor: pointer;
}

.semaforo-luz.activo {
  box-shadow:
    0 0 20px rgb(255, 250, 223),
    0 0 40px rgb(255, 243, 205),
    0 0 60px rgb(255, 245, 214);
}

.w-50px { width: 70px; }
.h-50px { height: 70px; }
.w-13px { width: 13px; }

